################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Keenerfy/FileContentIndex/54f39fc9-9eda-4a85-8027-3f62981c6e1b.vsidx
/.vs/Keenerfy/v17/.suo
